<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ARISE AND SHINE - signin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/asgg-app.css') }}">
</head>
<body>
    <h1> JESUS</h1>
    <nav>
        <div class="logo">
            <img src="../static/images/ARISE AND SHINE.png" alt="asgg-logo">
            <h1>ARISE AND SHINE</h1>
        </div>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/authentication/signin">Signin</a></li>
            <li><a href="/authentication/create-account">Signup</a></li>
            <li><a href="/authentication/signout">signout</a></li>
            <li><a href="/recordings" class="btn">Create New +</a></li>
        </ul>
    </nav>
    <div class="container formbx">
        <p>signin page:</p>
        <p>Welcome Back...</p>
        <p>Please authenticate below to continue to the dashboard control panel</p>

        <form href='/signin' enctype="multipart/form-data" method="post">
            <h1>Enter Details To Sign In:</h1>
            <label for="email">Enter Email:</label>
            <input type="email" name="email" required id="email">
            <label for="passw">Enter Email:</label>
            <input type="text" name="passw" required id="passw">
            <input type="submit" class="btn" value="SignIn">

        </form>
    </div>

</body>
</html>