<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ARISE AND SHINE - Dashbboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/asgg-app.css') }}">
</head>
<body>
    <h1> JESUS</h1>
    <nav>
        <div class="logo">
            <img src="../static/images/ARISE AND SHINE.png" alt="asgg-logo">
            <h1>ARISE AND SHINE</h1>
        </div>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/authentication/signin">Signin</a></li>
            <li><a href="/authentication/create-account">Signup</a></li>
            <li><a href="/authentication/signout">signout</a></li>
            <li><a href="/recordings" class="btn">Create New +</a></li>
        </ul>
    </nav>
    <div class="container formbx">
        <p>create new recording page:</p>
        <p>Welcome...</p>
        <p>Please fill in the feilds below to create a new recording and add it upload <br> it to the database then proceed control panel</p>
     </div>
        <form href='/recordings' enctype="multipart/form-data" method="post" class=" rc">
            <h1>Enter Details To Here:</h1>
            <label for="title">Enter Recording Title:</label>
            <input type="text" name="title" required id="title">
            <label for="information">Enter Recording Information:</label>
            <textarea type="text" name="information" required id="information"></textarea>
            <label>Podcasts Recordings Uploaded/uploading To:</label>
            
            <label>
                <input type="checkbox" name="podcast-websites" value="RSS Stream"> RSS 
            </label>
            <label>
                <input type="checkbox" name="podcast-websites" value="Youtube"> Youtube
            </label>
            <label>
                <input type="checkbox" name="podcast-websites" value="Mixlr"> Mixlr
            </label>
            <label>
                <input type="checkbox" name="podcast-websites" value="Facebook"> Facebook
            </label>
            <label>
                <input type="checkbox" name="podcast-websites" value="Browsprout"> Browsprout
            </label>
            <label for="status">Enter Recording upload Status:</label>
            <select  name="status" required id="status">
                <option value="">--select--</option>
                <option value="Uploaded">Uploaded</option>
                <option value="To Be Uploaded Soon">To Be Uploaded Soon</option>
                <option value="Preparing">Preparing</option>
                <option value="Still planing">Still planing</option>
            </select>
            <label for="img">Enter Recording upload Cover Image:</label>
            <input type="file" name="img" required id="img">
            <label for="youtube-link">Enter User Youtbube Link:</label>
            <input type="text" name="youtube-link"  id="youtube-link">
            <label for="rss-link">Enter User RSS Link:</label>
            <input type="text" name="rss-link"  id="rss-link">
            <label for="facebook-linkr">Enter User Facebook Link:</label>
            <input type="text" name="facebook-link"  id="facebook-link">
            <label for="buzzsprout-link">Enter User Buzzsprout Link:</label>
            <input type="text" name="buzzsprout-link"  id="buzzsprout-link">
            <label for="mixlr-link">Enter User Mixlr Link:</label>
            <input type="text" name="mixlr-link"  id="mixlr-link">
            <input type="submit" class="btn" value="Create New Recording">

        </form>
   
    <!---below ord  User >--->
</body>

</html>